:root {
  --red: #e24a4a;
  --blue: #4aa0e2;
  --green: #4ae25e;
  --black: #333333;
  --gray: #cacaca;
  --white: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Verdana', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

main {
  --url-bg: url(attr(data-url-bg));
  width: 100vw;
  height: 100vh;
  background: var(--url-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-radial-button {
  position: absolute;
  width: 60rem;
  height: 60rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  backdrop-filter: blur(1rem);
  border: .1rem solid var(--gray);
}

.radial-button {
  width: auto;
  height: auto;
  justify-self: center;
  border-radius: 50%;
}

.radial-button:hover {
  filter: brightness(2);
}

.radial-button[ariaLabel="Goku"] {
  grid-area: 1 / 2;
}

.radial-button[ariaLabel="Naruto"] {
  grid-area: 2 / 3;
}

.radial-button[ariaLabel="Luffy"] {
  grid-area: 3 / 2;
}

.radial-button[ariaLabel="Ichigo"] {
  grid-area: 2 / 1;
}

.radial-input {
  display: none;
}

.radial-label {
  cursor: pointer;
  display: inline-block;
  margin: .5rem;
}

.container-radial-children {
  grid-area: 2 / 2;
  justify-self: center;
}

.radial-label img {
  width: 10rem;
  height: 10rem;
  object-fit: fill;
  border-radius: 50%;
}

.container-actions-button {
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 50%;
  padding: 1rem;
  align-items: center;
  border: .1rem solid var(--gray);
  background-color: var(--white);
}

.icon-button {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  justify-self: center;
}

.icon-button:hover {
  filter: brightness(2);
}

.icon-image-button {
  width: 50%;
  object-fit: fill;
  border-radius: 50%;
  filter: invert(1);
}

.add-button {
  background-color: var(--blue);
  grid-column: span 2 / span 2;
  align-self: flex-start;
}

.edit-button {
  background-color: var(--green);
}

.delete-button {
  background-color: var(--red);
}

.active {
  border-inline: 1rem solid var(--black);
  border-block: 1rem solid transparent;
}
